<app-search></app-search>
<p>Please enter the currency in the search box to connect with API(Exp:'USD','GED','AED','BRL')</p>

<mat-progress-bar *ngIf='loadingSubject|async' mode="indeterminate"></mat-progress-bar>

<span *ngIf='(showCard|async)' [hidden]='(loadingSubject|async)'>
  <mat-card (click)='openDialog(2)'>
    <mat-card-content class="centerCardContent">
      API Data(grid list)
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 50px" (click)='openDialog(1)'>
    <mat-card-content class="centerCardContent">
      Exchange Rate table
    </mat-card-content>
  </mat-card>
</span>
<router-outlet></router-outlet>